<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title %}Hospitality NEWO{% endblock %}</title>
    <script
      type="text/javascript"
      src="https://checkout.wompi.co/widget.js"
    ></script>
</head>
<body>
    <div class="fixed top-2 right-3 h-auto w-16 bg-white/20">
      <img 
        src="{{ url_for('static', filename='icons/newo.svg') }}" 
        alt="Logotipo de Newo" 
        class="block object-cover w-full h-full cursor-pointer hover:opacity-80 transition"
      />
    </div>

    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>