{% extends 'base/main.html' %}

{% block title %}Guardar empresa{% endblock %}

{% block content %}
<section class="w-[100dvw] min-h-[100dvh] flex flex-col justify-center items-center">
    <form 
        method="POST" 
        action="{{ url_for('empresa_bp.validar_empresa_act') }}"
        class="w-full md:max-w-[520px] h-[100dvh] flex flex-col justify-between items-center md:justify-center gap-[60px] !p-4 !py-[10dvh]"
    >
        
        <!-- Título del formulario -->
        <div class="w-full text-left">
            <h1 class="!text-5xl font-bold text-gray-800">
                Hola!
            </h1>
            <p>Bienvenido, ingresa el numero de identifcación para registrarse ó agregar un nuevo metodo de pago.</p>
            <input 
                type="text"
                name="identificacion"
                placeholder="NIT / identificación"
                class="w-full px-4 py-2 !my-10"
                required
            />
        </div>

        <!-- Campo de entrada -->
        <div class="w-full flex flex-col gap-[8px]">

        </div>

                <!-- Campo de entrada -->
        <div class="w-full flex flex-col gap-[8px]">
            <button 
                type="submit"
                class="w-full bg-blue-600 text-white font-semibold py-2 rounded-lg hover:bg-blue-700 transition duration-200"
            >
                Validar ahora
            </button>
        </div>

    </form>
</section>
{% endblock %}